<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Review</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "/css/styles.css" %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h3 text-white" href="/">The javaGUIDE</span>
            <span class="navbar-text h4 text-white">Add Java Shop Review</span>
            <ul class="nav nav-pills nav-fill justify-content-end">
                <li class="nav-item"><a href="/logout" class="nav-link text-white">Log Out</a></li>
                <li class="nav-item"><a href="/dashboard" class="nav-link text-white active">Dashboard</a></li>
                <li class="nav-item"><a href="/editprofile" class="nav-link text-white active">Profile</a></li>
                <li class="nav-item"><a href="/addreview" class="nav-link text-white active">Create Review</a></li>
                <li class="nav-item"><a href="/add" class="nav-link text-white active">Add Shop</a></li>
            </ul>
        </div>
    </nav>
<div class="container col-sm-5 bg-light my-4">



<!--     <li class="nav-item"><a href="/dashboard" class="nav-link text-white active">Dashboard</a></li>
                <li class="nav-item"><a href="/reviews/create" class="nav-link text-white active">Create Review</a></li>
                <li class="nav-item"><a href="/shops/add" class="nav-link text-white active">Add Shop</a></li>
                <li class="nav-item"><a href="/logout" class="nav-link text-white">Log Out</a></li>
-->
        
        
    <div class="javareview">

        {% if messages %}
    <ul class="messages">    
        {% for message in messages %}    
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
    </ul>
    {% endif %}
    
    {% for review in all_reviews %}
    {% if review.posted_by.id == logged_user.id %}
    <a href="/edit/{{review.id}}">Edit</a>
    {% endif %}
    {% endfor %}
    
    <form action="/reviews/create" method="POST">
        {% csrf_token %}
            <label for="ambience">Ambience</label>
            <select id="ambience" name="ambience"></p>
                <option value="ambience">1</option>
                <option value="ambience">2</option>
                <option value="ambience">3</option>
            </select>
            <p>
            <label for="cleanliness">Cleanliness</label>
            <select id="cleanliness" name="cleanliness"></p>
                <option value="cleanliness">1</option>
                <option value="cleanliness">2</option>
                <option value="cleanliness">3</option>
            </select>
        </p>

            <label for="coffee">Coffee</label>
            <select id="coffee" name="coffee"></p>
                <p>
                <option value="coffee">1</option>
                <option value="coffee">2</option>
                <option value="coffee">3</option>
            </select>
        </p>

            <label for="music">Music</label>
            <select id="music" name="music"></p>
                <p>
                <option value="music">1</option>
                <option value="music">2</option>
                <option value="music">3</option>
            </select>
        </p>
            <label for="location">Location</label>
            <select id="location" name="location"></p>
                <p>
                <option value="location">1</option>
                <option value="location">2</option>
                <option value="location">3</option>
                </p>
            </select>
            <h3>Additional Comments</h3>
            <textarea name="additional_comments"></textarea>
            <p><input type="submit" value="Submit"></p>
            </form>


</body>
</html>