<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>


  <!--

  
  <body>
    <h1></h1>
    <section>
      <div class="top-right">
        <!--<a href="/logout"><u>Log Out</u></a> -->
        <!--add page location in href -->
        <a href="/dashboard" class="btn btn-secondary">Dashboard</a>
        <a href="" class="btn btn-secondary">Profile</a>
        <a href="" class="btn btn-secondary">Create Review</a>
        <a href="/shops/add" class="btn btn-secondary">Add Shop</a>
      </div>
    </section>
    
    <div id="home">
      <table class="table table-dark">
        
        <thead>
          <tr>
            <th>Latest Reviews</th>
            <th>Recently Added</th>
          </tr>
        </thead>
       
        <tbody>
          {% for review in all_reviews %}
          <tr>
            <td><a href="review/{{review.id}}">{{recipe.title}}</a></td>
            {% for recipe in thisrecipe.thisuser %}
            <td><a href="user/{{user.id}}">{{recipe.thisuser.username}}</a></td>
            {% endfor %}
          </tr>
          {%endfor%}
         </tbody>

      </table>
    </div>
  </body>
</html>

