<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    <form action = "/dashboard" method="post">
        {% csrf_token %}
        <label for= "first_name">First Name</label>
        <input type="text" name="first_name"/>
        <label for= "last_name">Last Name</label>
        <input type="text" name="last_name"/>
        <label for= "user_name">User Name</label>
        <input type="text" name="user_name"/>
        <label for= "email">Email</label>
        <input type="email" name="email"/>
        <label for= "zip_code">Zip Code</label>
        <input type="text" name="zip_code"/>
        <label for= "password">Password</label>
        <input type="password" name="password"/>
        <button>Submit</button>

    </form>
    ------
    <h1>Login</h1>
    <form action="/dashboard" method="post">
        {%csrf_token%}
        <label for= "user_name">User Name</label>
        <input type="text" name="user_name"/>
        <label for= "password">Password</label>
        <input type="password" name="password"/>
        <button>Submit</button>


    </form>
</body>
</html>