{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '../static/css/style.css' %}"> 
    <link rel="preconnect" href=" 'https://fonts.googleapis.com">
    <link rel="preconnect" href= 'https://fonts.gstatic.com' crossorigin>
    <link href="static 'https://fonts.googleapis.com/css2?family=Modak&display=swap' rel='stylesheet'"> 
    <title>Login Register</title>
</head>
<body>
    <h1 class="">Welcome to The Java Guide!</h1>
    <div class="container-fluid">
            <h4 class="h3 mb-3 fw-normal text-center">Login</h4>
            <form action="/login" method="post">
                {%csrf_token%}
                <div class="mb-3">
                    <label for= "user_name" class="form-label" >User Name</label>
                    <input type="text" name="user_name" class="form-control"/>
                </div>
                <div class="mb-3">
                    <label for= "password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control"/>
                </div>
                <button class=" btn btn-primary" >Submit</button>


            </form>
    </main>
</div>
</body>
</html>