<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{shop.name}}</title>
</head>
<body>
    <a href="/dashboard" class="btn btn-secondary">Dashboard</a> 
    <a href="" class="btn btn-secondary">Profile</a>
    <a href="/reviews/create" class="btn btn-secondary">Create Review</a>
    <a href ="/logout">Logout</a>

    <h1>{{shop.name}}</h1>
    <p>Street Address:{{shop.street_address}}</p>
    <p>City:{{shop.city}}</p>
    <p>State:{{shop.state}}</p>
    <p>Zip Code:{{shop.zip_code}}</p>
    <p>Hours of Operation:{{shop.hours_of_operation}}</p>
    <p>Phone Number:{{shop.phone_number}}</p>

    <h3>Reviews for {{shop.name}}</h3>
    <p>
        {%for review in shops%}
            {{review}}
        {%endfor%}
            

    </p>
    <p> This is my favorite Starbucks to go to. It's really big and even has an upstairs section. You can study, listen to music. There is also a really cute Barista named Whitney.<a href="#">AverageJo</a></p>
    <p>The best music in town and in the best location. It's right across from a bookstore, so its a two for one. <a href="#">BooksnCoffeeLuver</a></p>
    <p>My coffee was three whole degrees cooler than I requested! I will not be returning!!! <a href="#">Anonymous</a></p>
</body>
</html>