<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Shop</title>
</head>
<body>
    <h1>Shop Name Here</h1>
    <ul>
        <li>
            Ambience 
        </li>
        <li>
            Cleanlinees 
        </li>
        <li>
            Coffee
        </li>
        <li>
            Music 
        </li>
        <li>
            Location 
        </li>
    </ul>
    <h3>Reviews for JAVA SHOP NAME</h3>
    <p>

    </p>
</body>
</html>