{% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

      
        <div class="col">
        <p></p><p></p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Username</th>
                <th scope="col">Brief Description</th>
            </tr>
        </thead>
            <tbody>
                {% for recipe in all_recipes %}
                        <tr>
                            <td><a href="recipe/{{recipe.id}}">{{recipe.title}}</a></td>
                            {% for recipe in thisrecipe.thisuser %}
                            <td><a href="user/{{user.id}}">{{recipe.thisuser.username}}</a></td>
                            {% endfor %}
                            <th scope="ro